::ng-deep {
  .input-group-date-picker {
    display: inline-block;
    position: relative;

    .date-picker-input {
      border: 1px solid #dddddd;
      border-radius: 4px !important;
      width: 287px;
      flex: unset !important;
    }

    .bi-calendar3::before {
      position: absolute;
      top: 9px;
      right: 20px;
      color: #8c8e90;
      pointer-events: none;
    }
  }
}
