<div class="allergies-main-wrapper">
    <div class="right-panel-header flex align-items-center">
        <div class="right-panel-title">Appointments</div>
        <div class="right-panel-add-btn"> + Add Appointment</div>
    </div>
    <div class="table-wrapper">
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>Date & Time</th>
                    <th>Service</th>
                    <th>Treatment</th>
                    <th>Speciality Type</th>
                    <th>Assigned To</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div>
                            03/05/2025
                            <br>
                            01:00 pm - 01:30 pm
                        </div>
                    </td>
                    <td>Dental</td>
                    <td>Extraction</td>
                    <td>--</td>
                    <td>
                    <div class="value-and-icon-container flex align-items-center justify-content-space-between ">
                        <span class="oxygen-value">
                            Medical Records
                        </span>
                        <div class="inline-flex align-items-center">
                            <div class="action-btn align-items-center justify-content-center bi bi-eye"></div>
                        </div>
                    </div>
                </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            03/07/2025
                            <br>
                            10:00 pm - 11:00 pm
                        </div>
                    </td>
                    <td>Medical</td>
                    <td>Medical Sick Call</td>
                    <td>--</td>
                    <td>
                        <div class="value-and-icon-container flex align-items-center justify-content-space-between ">
                            <span class="oxygen-value">
                                Activity Specialist
                            </span>
                            <div class="inline-flex align-items-center">
                                <div class="action-btn align-items-center justify-content-center bi bi-eye"></div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>