<div class="allergies-main-wrapper">
    <div class="right-panel-header flex align-items-center">
        <div class="right-panel-title">Order List</div>
        <div class="right-panel-add-btn flex align-items-center"> 
            <span class="bi bi-plus"></span>
            Add Order
        </div>
    </div>
    <div class="table-wrapper">
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>Order Date</th>
                    <th>Item Type</th>
                    <th>PRN/KOP</th>
                    <th>Instruction</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                </tr>
            </thead>
            <tbody *ngIf="orderListData.length > 0; else noDataTemplate">
                <tr *ngFor="let item of orderListData">
                    <td>{{ item.col1 }}</td>
                    <td>{{ item.col2 }}</td>
                    <td>{{ item.col3 }}</td>
                    <!-- Bind your row data -->
                  </tr>
            </tbody>
        </table>

        <!-- no-data template -->
        <ng-template #noDataTemplate>
            <tbody>
              <tr>
                <td colspan="6">
                  <div class="no-result-found" style="text-align: center;">
                    There are no active order items to display.
                  </div>
                </td>
              </tr>
            </tbody>
          </ng-template>
    </div>
</div>