<div class="allergies-main-wrapper">
    <div class="right-panel-header flex align-items-center">
        <div class="right-panel-title">Encounter List</div>
        <div class="right-panel-add-btn"> + Add Encounter</div>
    </div>
    <div class="table-wrapper">
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>Added Date</th>
                    <th>Note Type</th>
                    <th>QHP</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>31/03/2025 03:30 PM</td>
                    <td>Medical</td>
                    <td>Bonnie Bernard</td>
                </tr>
                <tr>
                    <td>31/03/2025 03:30 PM</td>
                    <td>Medical</td>
                    <td>Bonnie Bernard</td>
                </tr>
                <tr>
                    <td>31/03/2025 03:30 PM</td>
                    <td>Medical</td>
                    <td>Bonnie Bernard</td>
                </tr>
                <tr>
                    <td>31/03/2025 03:30 PM</td>
                    <td>Medical</td>
                    <td>Bonnie Bernard</td>
                </tr>
                <tr>
                    <td>31/03/2025 03:30 PM</td>
                    <td>Medical</td>
                    <td>Bonnie Bernard</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>