<div class="main-dashboard-wrapper">
  <div class="dashboard-header-container">
    <div class="main-title">Encounters</div>
    <div class="search-cont">
      <input type="text" class="search-input" placeholder="Search Patient" />
      <span class="bi bi-search"></span>
      <span class="bi bi-x-lg" style="display: none"></span>
    </div>
    <div></div>
  </div>

  <div class="patient-details-main-wrapper">
    <div class="details-cont">
      <!-- <div class="left-cont"></div>
            <div class="right-cont"></div> -->

      <div class="details-cont">
        <div
          class="section-container"
          *ngFor="let section of sections; let i = index"
        >
          <div class="photo-cont">
            <div class="patient-photo" *ngIf="i === 0"></div>
            <div class="section-box-parent">
              <div
                class="section-box"
                *ngFor="let detail of section; let index = index"
              >
                <div class="label-name">{{ detail.label }}:</div>
                <div
                  class="value"
                  [ngClass]="{
                    'error-message': detail.value === 'No Known Allergies'
                  }"
                >
                  {{ detail.value }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="section-container">
          <div class="label-name">Patient Flags</div>
          <table>
            <thead>
              <tr>
                <th>Medical (0)</th>
                <th>Behavioural Health (0)</th>
                <th>Physical (0)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Misc (0)</td>
                <td colspan="2" style="text-align: right">
                  This patient currently has no flags
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="columns-main-wrapper">
    <div class="left-main-column">
      <p style="display: none">
        Selected: {{ selectedDateTime | date : 'MM/dd/yyyy hh:mm a' }}
      </p>
      <div class="dropdowns-wrapper">
        <!-- <div class="dropdown-label-header flex align-items-center">
            <div class="dropdown-label required">Service</div>
        </div>
        <div ngbDropdown class="d-inline-block">
            Button showing selected value
            <div class="dropdown-toggler" id="dropdownBasic1" [ngClass]="{'dropdown-placeholder':!selectedValue}" ngbDropdownToggle>
                {{ selectedValue?.name || 'Select an option' }}
            </div>
      
            Dropdown Menu
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button *ngFor="let option of ddOptions" 
                      class="dropdown-item" 
                      [class.active]="option.id === selectedValue?.id" 
                      (click)="selectdd(option)">
                {{ option.name }}
              </button>
            </div>
          </div> -->
        <div class="dropdown-container flex align-items-center">
          <app-dropdown-wrapper
            [options]="dropdownOptions1"
            [selectedValue]="selectedItem1"
            [placeholder]="'Select Service'"
            (selectionChange)="handleSelectionChange1($event)"
            [isRequired]="true"
            [dropdownLabel]="'Service'"
          >
          </app-dropdown-wrapper>

          <app-dropdown-wrapper
            [options]="dropdownOptions2"
            [selectedValue]="selectedItem2"
            [placeholder]="'Select Encounter Type'"
            (selectionChange)="handleSelectionChange2($event)"
            [dropdownLabel]="'Encounter Type'"
          >
          </app-dropdown-wrapper>

          <!-- <app-dropdown-wrapper
            [options]="dropdownOptions3"
            [selectedValue]="selectedItem3"
            [placeholder]="'MM-DD-YYYY --:--- --'"
            (selectionChange)="handleSelectionChange3($event)"
            [isRequired]="true"
            [dropdownLabel]="'Start Date & Time'"
          >
          </app-dropdown-wrapper> -->
          <app-date-time-picker
            [(model)]="dateStruct"
            [(time)]="timeStruct"
            (dateTimeChange)="onDateTimeSelected($event)"
          ></app-date-time-picker>

          <app-dropdown-wrapper
            [options]="dropdownOptions4"
            [selectedValue]="selectedItem4"
            [placeholder]="'Select Duration'"
            (selectionChange)="handleSelectionChange4($event)"
            [isRequired]="true"
            [dropdownLabel]="'Duration'"
            [customClass]="'duration-dd'"
          >
          </app-dropdown-wrapper>
        </div>

        <div class="dropdown-container flex align-items-center">
          <app-dropdown-wrapper
            [options]="dropdownOptions5"
            [selectedValue]="selectedItem5"
            [placeholder]="'Select Treatment'"
            (selectionChange)="handleSelectionChange5($event)"
            [isRequired]="true"
            [dropdownLabel]="'Treatment'"
          >
          </app-dropdown-wrapper>

          <app-dropdown-wrapper
            [options]="dropdownOptions6"
            [selectedValue]="selectedItem6"
            [placeholder]="'Select Speciality Type'"
            (selectionChange)="handleSelectionChange6($event)"
            [dropdownLabel]="'Specialty Type'"
          >
          </app-dropdown-wrapper>

          <app-dropdown-wrapper
            [options]="dropdownOptions7"
            [selectedValue]="selectedItem7"
            [placeholder]="'Select Reason'"
            (selectionChange)="handleSelectionChange7($event)"
            [dropdownLabel]="'Reason for Visit'"
          >
          </app-dropdown-wrapper>

          <app-dropdown-wrapper
            [options]="dropdownOptions8"
            [selectedValue]="selectedItem8"
            [placeholder]="'Select Rendering Provider'"
            (selectionChange)="handleSelectionChange8($event)"
            [dropdownLabel]="'Rendering Provider'"
            [customClass]="'render-provider-dd'"
          >
          </app-dropdown-wrapper>
        </div>
      </div>
      <!-- <app-date-time-picker></app-date-time-picker>
    <h3>Select Date & Time</h3>
    <app-date-time-picker (dateTimeChange)="handleDateTimeChange($event)"></app-date-time-picker>
    <p>Selected Date-Time: {{ selectedDateTime }}</p> -->

      <div class="left-right-main-wrapper">
        <!-- Left Panel -->
        <div class="left-panel">
          <div class="left-panel-cont">
            <div
              class="left-panel-option"
              *ngFor="let option of options"
              [class.active]="selectedOption === option.id"
              (click)="selectedOption = option.id"
            >
              {{ option.name }}
            </div>
          </div>
        </div>
        <!-- Right Panel -->
        <div class="right-panel">
          <ng-container
            *ngIf="selectedComponent"
            [ngComponentOutlet]="selectedComponent"
          ></ng-container>
        </div>
      </div>
    </div>
    <div class="right-main-column">
      <!-- progress bar -->
      <div class="encounter-progressbar-cont">
        <div class="progressbar-header">
          <div class="bar-title-button">
            <div class="progressbar-title">Encounter Completes in 00:15:00</div>
            <button type="button" class="btn btn-outline-primary pauseBtn">
              Pause
            </button>
          </div>
          <div>
            <div class="percent-label">80%</div>
          </div>
        </div>
        <div
          class="progress"
          role="progressbar"
          aria-label="Basic example"
          aria-valuenow="80"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          <div class="progress-bar" style="width: 80%"></div>
        </div>
      </div>

      <app-medications></app-medications>
    </div>
  </div>
  <div class="dashboard-footer">
    <div class="footer-btn-cont flex align-items-center justify-content-end">
      <button
        type="button"
        class="btn btn-outline-secondary"
        data-bs-dismiss="modal"
      >
        Cancel
      </button>
      <button type="button" class="btn btn-primary disabled">Submit</button>
    </div>
  </div>
</div>
