::ng-deep {
    .main-dashboard-wrapper {
    padding: 10px 20px;
    .dashboard-header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #DDDDDD;
        padding-bottom: 10px;
        margin-bottom: 20px;

    .main-title {
        font-size: 22px;
        line-height: 26px;
        font-weight: 700;
    }

    .search-cont {
        position: relative;

        input.search-input {
            width: 400px;
            border-radius: 8px;
            border: 1px solid #DDDDDD;
            height: 38px;
            outline: none;
            padding: 6px 35px 6px 10px;

            &::placeholder {
                color: #8C8E90;
                font-style: italic;
                letter-spacing: 0.5px;
            }
        }

        .bi-search::before {
            content: "\f52a";
            position: absolute;
            font-size: 16px;
            position: absolute;
            top: 12px;
            right: 12px;
            color: #8C8E90;
            font-weight: 600 !important;
            cursor: pointer;
        }

        .bi-x-lg::before {
            content: "\f659";
            position: absolute;
            right: 12px;
            top: 12px;
            font-weight: 600;
            color: #8C8E90;
            cursor: pointer;
        }
    }

    }

    .patient-details-main-wrapper {
        margin-bottom: 20px;
    }
    .details-cont {
        display: flex;
            align-items: center;
            background-color: #F3F3F3F7;
            padding: 10px;
            box-sizing: border-box;
            border-radius: 6px;
            flex-grow: 1;

        .section-container {
            flex-grow: 1;
            width: 100%;

            &:not(:last-child) {
                border-right: 1px solid #8C8E90;
                margin-right: 30px;
                padding-right: 5px;
            }

            .section-box {
                display: flex;
                align-items: center;

                &:not(:last-child) {
                    margin-bottom: 5px;
                }                
            }

            .label-name {
                min-width: 110px;
                color: #333333;
                font-weight: 500;
            }

            .value {
                white-space: nowrap;
                font-size: 14px;
            }

            table {
                margin-top: 6px;

                th, td {
                    border: 1px solid #DDDDDD;
                    vertical-align: top;
                    padding: 3px 20px;
                    background-color: #fff;
                }

                th {
                    text-align: left;
                    white-space: nowrap;

                    &:nth-child(3) {
                        width: 170px;
                    }
                }
            }

            .photo-cont {
                display: flex;
                align-items: center;
                .patient-photo {
                    height: 80px;
                    width: 80px;
                    box-sizing: border-box;
                    border-radius: 6px;
                    background-color: #D9D9D9;
                    margin-right: 30px;
                }
            }
        }
    }

    // progressbar css
    
    
    .encounter-progressbar-cont {
        border: 1px solid #DDDDDD;
        padding: 20px;
        border-radius: 6px;
        box-shadow: 0px 0px 6px 0px #00000026;
        width: 600px;
        margin-bottom: 20px;

        .progressbar-header {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
            justify-content: space-between;

            .bar-title-button {
                display: flex;
                align-items: center;
            }

            .progressbar-title {
                font-weight: 500;
            }

            .pauseBtn {
                border-radius: 24px;
                min-height: 32px;
                width: 80px;
                box-sizing: border-box;
                margin-left: 14px;
            }

            .percent-label {
                font-weight: 500;
                font-size: 18px;
            }
        }
        .progress {
            border-radius: 8px;
            box-shadow: 1px 2px 4px 0px #00000026 inset;
            background-color: #F3F3F3;

            .progress-bar {
                width: 80%;
                border-radius: 8px;
            }
        }
    }
    

    .left-right-main-wrapper {
        display: inline-flex;
        display: flex;
        flex-grow: 1;
        height: min-content;
        // margin-top: 20px;

        .left-panel {
            min-width: 210px;
            margin-right: 20px;

            .left-panel-cont {
                border: 1px solid #DDDDDD;
                box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1490196078);
                border-radius: 6px;
            }

            .left-panel-option {
                border-bottom: 1px solid #DDDDDD;
                padding: 10px;
                color: #333333;
                cursor: pointer;

                &.active {
                    color: #009BC8;
                    font-weight: 600;
                }
            }
        }

        .right-panel {
            border: 1px solid #DDDDDD;
            box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1490196078);
            border-radius: 6px;
            flex-grow: 1;
            // height: calc(100vh - 253px);
            padding: 10px 20px;
            // max-width: 1000px;
            width: 1000px;
            width: 100%;
            height: 452px;
            height: 100%;

            .right-panel-header {
                justify-content: space-between;
                margin-bottom: 10px;

                .right-panel-title {
                    font-weight: 600;
                    font-size: 16px;
                    letter-spacing: 0.5px;
                    line-height: 21px;
                    color: #333333;
                }

                .right-panel-add-btn {
                    color: #0080A5;
                    font-size: 16px;
                    font-weight: 500;
                    letter-spacing: 0.5px;
                    line-height: 23px;
                    cursor: pointer;
                }
            }
        }
    }
    .columns-main-wrapper {
        display: inline-flex;
    // align-items: center;
    justify-content: space-between;
    width: 100%;

    .left-main-column {
        display: flex
;
    flex-direction: column;
    flex: 1;
    margin-right: 20px;
    }

    .dropdowns-wrapper {
        min-height: 140px;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #DDDDDD;


    .dropdown-container {
        &:not(:last-child) {
            margin-bottom: 30px;
        }

        .dropdown-wrapper {
            margin-right: 30px;

            &.render-provider-dd,
            &.duration-dd {
                margin-right: 0;
            }
        }
    }
}
}


    // .dropdown-label-header {
    //     margin-bottom: 2px;

    //     .dropdown-label {
    //         font-weight: 600;
    //         font-size: 14px;
    //         line-height: 21px;
    //         letter-spacing: 0.5px;
    //         vertical-align: middle;
  
    //         &.required:after {
    //           content:" *";
    //           color: red;
    //         }
    //     }
    // }

    // .dropdown-toggle {
    //     width: 287px;
    //     height: 31px;
    //     border: 1px solid #DDDDDD;
    //     border-radius: 4px;
    //     box-sizing: border-box;
    //     padding: 2px 12px;
    //     cursor: pointer;
    //     position: relative;
    //     letter-spacing: 0.5px;
    //     color: #333333;

    //     &::after {
    //         border: solid #8C8E90;
    //         border-width: 0 1px 1px 0;
    //         display: inline-block;
    //         padding: 4px;
    //         transform: rotate(45deg);
    //         -webkit-transform: rotate(45deg);
    //         position: absolute;
    //         right: 10px;
    //         top: 8px;
    //     }

    //     &.dropdown-placeholder {
    //         color: #8C8E90;
    //     }
    // }

    // .dropdown-menu {
    //     width: 287px;
    // }

    .dashboard-footer {
        padding: 20px 0;


        button {
            border-radius: 21px;
            height: 42px;
            box-sizing: border-box;
            width: 120px;
            font-size: 15px;
            font-weight: 500;
            letter-spacing: 0.5px;

            &.btn-primary:not(:hover) {
                background-color: #009BC8;
            }

            &.btn-outline-secondary {
                border-color: #8C8E90;
                margin-right: 10px;

                &:not(:hover) {
                    color: #333333;
                }
            }
        }
    }
}
}