<div class="allergies-main-wrapper">
    <div class="right-panel-header flex align-items-center">
        <div class="right-panel-title">Documentation List</div>
        <div class="right-panel-add-btn flex align-items-center"> 
            <span class="bi bi-plus"></span>
            Add Forms
        </div>
    </div>
    <div class="table-wrapper">
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Documentation Type</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Dental</td>
                    <td>
                        <div class="value-and-icon-container flex align-items-center justify-content-space-between ">
                            <span class="oxygen-value">
                                Dental Consent for Exam and X-Rays
                            </span>
                            <div class="inline-flex align-items-center">
                                <div class="action-btn align-items-center justify-content-center bi bi-eye"></div>
                                <div class="action-btn align-items-center justify-content-center bi bi-trash"></div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>