::ng-deep {
  .date-time-picker-main-wrapper {
    margin-right: 30px;
    .input-group-date-picker {
      display: inline-block;
      position: relative;

      .date-picker-input {
        border: 1px solid #dddddd;
        border-radius: 4px;
        width: 287px;
        flex: unset !important;
        box-shadow: unset;
      }

      .bi-calendar3::before {
        position: absolute;
        top: 9px;
        right: 20px;
        color: #8c8e90;
        pointer-events: none;
      }
    }

    .time-picker-main-wrapper {
      .ngb-tp {
        justify-content: center;
      }
    }
  }
}
