<div class="medication-main-wrapper">
    <div class="medication-title">Medications</div>
    <div class="table-wrapper">
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>Medication Name</th>
                    <th>Start Date</th>
                    <th>Dose</th>
                    <th>Frequency</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>(Amlodipine) Norvasc 10 mg tablet</td>
                    <td>
                        <div>02/12/2025</div>
                        <div>08:00 AM</div>
                    </td>
                    <td>1</td>
                    <td><div>
                        <span>
                            1 x Week
                        </span>
                        
                    </div></td>
                </tr>
                <tr>
                    <td>Paracetamol Tablets</td>
                    <td>
                        <div>02/13/2025</div>
                        <div>08:00 AM</div>
                    </td>
                    <td>3</td>
                    <td><div>
                        <span>
                            1 X Month AM
                        </span>
                        
                    </div></td>
                </tr>
                <tr>
                    <td>Meta spray</td>
                    <td>
                        <div>02/12/2025</div>
                        <div>08:00 AM</div>
                    </td>
                    <td>1</td>
                    <td><div>
                        <span>
                            1 X Month PM
                        </span>
                        
                    </div></td>
                </tr>
                <tr>
                    <td>Ascoril</td>
                    <td>
                        <div>02/13/2025</div>
                        <div>08:00 AM</div>
                    </td>
                    <td>1</td>
                    <td><div>
                        <span>
                            Daily 3 PM
                        </span>
                        
                    </div></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>