<div class="vital-sign-main-wrapper">
    <div class="right-panel-header vital-header flex align-items-center">
        <div class="right-panel-title">Vital Signs</div>
        <div class="right-panel-add-btn"> + Add Vitals</div>
    </div>
    <div class="table-wrapper">
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>Blood Pressure</th>
                    <th>Heart Rate <span>(BPM)</span></th>
                    <th>Respiratory Rate <span>(BPM)</span></th>
                    <th>Temprature <span>(F)</span></th>
                    <th>Oxygen <span>%</span></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>105/90</td>
                    <td>89</td>
                    <td>14</td>
                    <td>98</td>
                    <td><div>
                        <span class="oxygen-value">
                            94
                        </span>
                        <div class="inline-flex align-items-center">
                            <div class="action-btn">+</div>
                            <div class="action-btn">D</div>
                        </div>
                    </div></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>