<div class="problems-main-wrapper">
    <div class="right-panel-header flex align-items-center">
        <div class="right-panel-title">Problems</div>
        <div class="right-panel-add-btn"> + Add Problesm</div>
    </div>
    <div class="table-wrapper">
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>ICD10 Code</th>
                    <th>Problem Name</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>B16.9</td>
                    <td>Acute Hepatitis B Without Delta Agent and Without Hepatic Coma (A)</td>
                    <td><div>
                        <span>
                            Rule Out
                        </span>
                        <!-- <div class="inline-flex align-items-center">
                            <div class="action-btn">+</div>
                            <div class="action-btn">D</div>
                        </div> -->
                    </div>
                    </td>
                </tr>
                <tr>
                    <td>E08.1</td>
                    <td>Diabetes Mellitus Due to Underlying Condition With Ketoacidosis (C)</td>
                    <td><div>
                        <span>
                            Released
                        </span>
                        <!-- <div class="inline-flex align-items-center">
                            <div class="action-btn">+</div>
                            <div class="action-btn">D</div>
                        </div> -->
                    </div>
                    </td>
                </tr>
                <tr>
                    <td>E89</td>
                    <td>Post Procedural Endocrine and Metabolic Complications and Disorders (C)</td>
                    <td><div>
                        <span>
                            Released
                        </span>
                        <!-- <div class="inline-flex align-items-center">
                            <div class="action-btn">+</div>
                            <div class="action-btn">D</div>
                        </div> -->
                    </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>