/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  font-size: 14px;
}
.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex !important;
}

.align-items-center {
  align-items: center !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: end;
}

.disabled {
  opacity: 33% !important;
  pointer-events: none;
}

.table {
  border-color: #dddddd;

  th {
    background: linear-gradient(180deg, #ffffff 0%, #f4f4f4 100%);
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.5px;
    color: #333333;
  }
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
  background-color: #f3f3f3;
}

.table > :not(caption) > * > * {
  padding: 10px 20px;
}

.table > :not(caption) > * > td {
  padding: 11px 20px;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.table-wrapper {
  table tr td:last-child {
    vertical-align: middle;
  }
}

.error-message {
  color: #fb1e1e;
  font-size: 12px;
  letter-spacing: 0.5px;
}

.action-btn {
  height: 14px;
  width: 14px;
  margin-left: 15px;
  cursor: pointer;
  display: inline-flex;
}

// tab common css starts
.nav-underline {
  margin-bottom: 20px;
  border-bottom: 1px solid #d9d9d9;

  .nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.5px;
    color: #8c8e90;
    padding: 4px 20px;
  }
}

.nav-underline .nav-link.active,
.nav-underline .show > .nav-link {
  color: #0080a5;
  border-bottom: 2px solid #009bc8;
}

.nav-underline .nav-link:focus,
.nav-underline .nav-link:hover {
  border-width: 0 0 2px 0;
}

// tab common css ends

// checkbox common css start
.form-check-input {
  height: 16px;
  width: 16px;
  border-color: #8c8e90;
  border-radius: 2px !important;

  &:checked {
    background-color: #009bc8;
    border-color: #009bc8;

    &[type='checkbox'] {
      background-size: 17px;
    }
  }

  &:focus {
    box-shadow: unset;
    border-color: #8c8e90;
  }
}
// checkbox common css ends

.mb20 {
  margin-bottom: 20px;
}

.modal-dialog {
  max-width: unset;
  width: 700px;
  // margin: 0 auto;
  width: 100%;
  max-width: 700px;

  hr {
    color: #dddddd;
    opacity: 1;
  }

  .modal-header {
    padding: 0;
    padding-bottom: 10px;
    margin-bottom: 10px;

    .btn-close {
      background-size: 12px;
      box-shadow: unset;
      opacity: 1;
      filter: brightness(0) saturate(100%) invert(29%) sepia(13%)
        saturate(2783%) hue-rotate(158deg) brightness(91%) contrast(99%);
    }
  }

  .modal-body {
    padding: 0;
    margin-bottom: 20px;
    max-height: calc(100vh - 300px);
  }

  .modal-title {
    font-size: 16px !important;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #333333;
  }

  .modal-body-heading {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
  }

  > .modal-content:not(.modal-content-wrapper) {
    border-radius: 0 0 4px 4px;
    padding: 20px 25px 0 25px;
    border: 1px solid #f4f4f4;
    border-top: 2px solid #009bc8;
    box-shadow: 2px 4px 8px 0px #00000040;
    background: linear-gradient(180deg, #ffffff 0%, #f4f4f4 100%);

    .modal-dialog {
      margin: 0;
    }
  }

  .modal-content-wrapper {
    border: 0;
    background: linear-gradient(180deg, #ffffff 0%, #f4f4f4 100%);
  }

  .label-input-parent {
    margin-right: 20px;

    label {
      font-weight: 600;
      font-size: 12px;
      line-height: 23px;
      letter-spacing: 0.5px;
    }
  }
  input.form-control {
    box-sizing: border-box;
    height: 31px;
    border-radius: 4px;
    border-color: #dddddd;
    margin-right: 8px;
    box-shadow: unset;

    &::placeholder {
      color: #8c8e90;
    }

    &.input-field {
      width: 100px;
    }

    .input-property {
      font-size: 14px;
      letter-spacing: 0.5px;
    }
  }
  .radio-button-container {
    display: block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    margin-bottom: 12px;
    margin-right: 40px;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 0.5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    + input[type='text'] {
      margin-left: 30px;
    }
  }

  .radio-button-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    left: 0;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 17px;
    width: 17px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.25);
    transition: all 0.3s;
    box-sizing: content-box;
  }

  .radio-button-container input:checked ~ .checkmark {
    background-color: rgba(0, 0, 0, 0);
    border-color: #009bc8;
  }

  .checkmark:after {
    content: '';
    position: absolute;
    display: none;
  }

  .radio-button-container .checkmark:after {
    top: 1px;
    left: 1px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #009bc8;
  }

  .radio-button-container input:checked ~ .checkmark:after {
    display: block;
  }

  .modal-footer {
    button {
      border-radius: 21px;
      height: 42px;
      box-sizing: border-box;
      width: 120px;
      font-weight: 500;
      letter-spacing: 0.5px;

      &.btn-primary:not(:hover) {
        background-color: #009bc8;
      }

      &.btn-outline-secondary {
        border-color: #8c8e90;
        margin-right: 10px;

        &:not(:hover) {
          color: #333333;
        }
      }
    }
  }
}

// scroll common css starts
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eae8e8;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #009bc8;
  border-radius: 10px;
}

// scroll common css ends

// textarea common css starts
textarea {
  resize: vertical;
  border-color: #dddddd;
  width: 100%;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 10px 15px;
  outline: none;

  &::placeholder {
    color: #8c8e90;
    font-style: italic;
    letter-spacing: 0.5px;
  }
}
// textarea common css ends
